.navigation{
    height: 400px;
    width:100%;
    background-image: url('../images/banner.png');
    background-size: cover;
    overflow: hidden;
}

body{
    width:100%;
    background-color:rgba(0, 0, 0, 0.973);
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    color:rgba(255, 255, 255, 0.795);
}
.threeD,.digital{
    display:flex;
    justify-content: center;
}
.art{
    
    padding:100px;
    font-size: 50px; 
    text-align: right;
}
.content{
    padding:100px;

}
.contenta{
    padding:100px;
}
.service{
    
    padding:50px;
}
.last{
    display: flex;
    background-color:rgba(34, 34, 34, 0.247);
    padding:50px;
}
.cta{
    text-align: center;
    padding:100px;
}
.btn{
    
    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;
}
.footer{
    display: flex;
    justify-content: space-evenly;
    height:300px;
    
}
.social,.contact{
    padding:50px;
}
.logo{
    padding-right:100px;
}
footer{
    background-color:rgba(0, 0, 0, 0.514);
   
}

.about{
    padding:100px;

}
section.aboutme,section.links{
    display:flex;
    padding:100px;
}
section.education{
    background-color: black;
    width:100%;
    padding-top:100px;
    padding-bottom:100px;
}
section.links{
    padding:100px;
}

.flex-container,.fleex-container,.title{
   display:flex;
   justify-content: center;
   flex-wrap: wrap;
}
.flex{
    display:flex;
    padding-right: 250px;
    padding-left: 150px;
}
.descriptionme{
    width:700px;
    padding-left:100px;
}
.title h1{
    padding-right:350px;
    padding-left:350px;
}
.desc{
    padding-left:50px;
}
.ace{
    padding:30px;
}
.me {
    
    width: 200px; 
    height: 200px;
    border-radius: 50%; 
    overflow: hidden;

}
.me img{
  
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container-links,.contactme,.create{
    padding:100px;
}
.create > h1 {
    font-size: 40px;
}
.form-container{
    
    display: flex;
    justify-content: center;
}
.form{
    border:1px solid white;
    border-radius:60px;
    padding:50px;
    background-color: rgb(10, 10, 10);
 
}
.form >h1{
    padding-bottom:25px;
    border-bottom: 1px solid white;
    
}
input[type="text"]{

    border-radius: 10px;
    padding:10px;
}
select{
    padding:10px;
    border-radius: 10px;
}
textarea{
  
    border-radius: 10px;
}
.btn1{
    border-radius: 10px;
    padding:10px;
}
.logo{
    text-align: center;
    padding-top: 50px;
}